:root {
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

#app {
    min-width: 320px;
    min-height: 100vh;
}

/* Alternative custom animation style */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}
/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
    z-index: 1;
}
.dark::view-transition-new(root) {
    z-index: 2147483646;
}
::view-transition-old(root) {
    z-index: 2147483646;
}
::view-transition-new(root) {
    z-index: 1;
}
